header
{
	margin: 0 px;
	padding: 0 px;
}
body
{
	font-family: 'Roboto', sans-serif;
}

.header-frame
{
	min-height: 170px;
	border-width: 2px;
	border-color: #000000;
	background: linear-gradient(to top,#496280,#7793ae);
	-webkit-box-shadow: 0px 5px 18px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 18px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 18px -2px rgba(0,0,0,0.75);
	padding-bottom: 20px;
}
.logo
{
	position: relative;
	margin-left: 40px ;
	width: 138px;
	text-align: center;
	
}
.yel-div
{
	position: relative;
	background-color: #feffb3;
	height: 7px;
}

body
{
	margin:  0 0 0 0;
}
              
.logo-text 
{
	color: #ffffff;
	font-family:  'Open Sans', sans-serif;
}

.logo-big-text 
{
	font-size: 56px;


}
.logo-small-text 
{
	font-size: 20px;

}
.header-news
{
	min-height: 70px;
	padding: 10px 10px 10px 10px;
}
.prev-img
{
	/*vertical-align: middle;*/
	width: 50px;
	height: 50px;
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 0px solid #000000;
}
.content
{
background: #EAEAEA;
/*opacity: 1.00;*/
border-top: 2px solid #FFFFFF;
/*box-sizing: border-box;*/
box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.5);/*, inset 0px 3px 5px rgba(1, 1, 1, 0.5);*/

}
#left-sidebar
{

}
#right-sidebar
{
padding-left: 10px;
		/*margin-left: 10px;*/
}
#center-content
{
 padding-right: 0;
}
#search_form{
	background-image: url(../images/search_img.png);
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border: 1px solid #b0b0b0;
	background-color: #fafafa;
	-webkit-box-shadow: inset 2px 2px 8px -4px rgba(50, 50, 50, 0.98);
	-moz-box-shadow:    inset 2px 2px 8px -4px rgba(50, 50, 50, 0.98);
	box-shadow:         inset 2px 2px 8px -4px rgba(50, 50, 50, 0.98);
	margin: 20px 10px 20px 20px;
	width: 100%;
	height: 30px;
	background-repeat: no-repeat;  
	background-position: 4px;   
	outline: none;   
	padding-left: 32px;

font-size: 20px; 
}
 .nav
 {
 	background-color: #ffffff;
 	display: block;
 	list-style: none;
 	margin: 0px 10px 0px 0px;
 	padding: 0px;
 	border: 1px solid #496280;
 	-webkit-box-shadow: inset 2px 2px 8px -4px rgba(50, 50, 50, 0.98);
	-moz-box-shadow:    inset 2px 2px 8px -4px rgba(50, 50, 50, 0.98);
	box-shadow:         inset 2px 2px 8px -4px rgba(50, 50, 50, 0.98);
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	margin-left:20px;
	margin-bottom: 20px;
	width: 100%;
 }
 .nav li
 {
	display: block;
	padding: 5px 5px 5px 15px;
	border-bottom: 1px solid #b0b0b0;
	margin-bottom: -1px;
	font-size: 25px;
 }
  .nav a
 {
 	display: block;
 	font-size: 15px;
 }
   .nav li:hover
 {
 	background-color: #496280;
 	color: #ffffff;
 }
.menu-block
{
	display: inline-block;
}
/*.menu-block img:hover
{
	background-color: #496280;
	background-blend-mode: multiply;
}*/
.rss p
{
	color: #626262;
	text-align: center;
}
.counter
{
	color: #626262;
	margin: 20px;
}
.center-menu
{

	margin:20px;
}
.by-center-class
{
	display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;  
    text-align: center;

}
.single-news  
{
	margin: 15px;
	border: 1px solid #b0b0b0;
	background-color: #fefefe;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 2px 3px 3px 0px rgba(190,190,190,1);
	-moz-box-shadow: 2px 3px 3px 0px rgba(190,190,190,1);
	box-shadow: 2px 3px 3px 0px rgba(190,190,190,1);
}
.single-news img
{
	display: block;
	position: relative;
	/*float: left;*/
	border:2px solid #ffffff;
	margin: 20px;
	/*clear: left;*/
	max-width: 100%;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 	2px 2px 5px 2px rgba(0,0,0,0.75);
	box-shadow: 		2px 2px 5px 2px rgba(0,0,0,0.75);
}
.single-news p
{
 /*margin:5px;*/
}
.single-news span
{
 margin: 10px 0 3px 3px;
}
.news-prev
{
	/*width: 100%;*/
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;   
    /*border: 1px solid black;*/
}
.single-news h1
{
	color:#0b4f9e;
	font-size: 20px;
	text-indent: 10px;
}
/*#menu-news
{
	display: block;
	float: right;

	width: 83px;
	height: 83px;
}*/
.center-menu p
{
	margin:3px;
	text-align: center;
	display: block;
}
.block-menu-size
{
		width: 83px;
		height: 83px;
}
.menu-news
{
	background: url(../images/menu1.png) no-repeat center top;
}
.menu-photo
{
	background: url(../images/menu2.png) no-repeat center top;
}
.menu-mc
{
	background: url(../images/menu3.png) no-repeat center top;
}
.menu-map
{
	background: url(../images/menu4.png) no-repeat center top;
}
.menu-part
{
	background: url(../images/menu5.png) no-repeat center top;
}
.menu-qa
{
	background: url(../images/menu6.png) no-repeat center top;
}
.overlayed-image:hover
{
	background-color: #496280;
	background-blend-mode: multiply;
	border-radius: 20px;
	/*IE 9 and down*/
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

	/*IE 10 and 11*/
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    opacity: 0.8;
}
}
.right-summary
{
	width: 100%;
	display: block;
	margin: 15px 0 15px 0;
	border: 1px solid #b0b0b0;
	background-color: #fefefe;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 2px 3px 3px 0px rgba(190,190,190,1);
	-moz-box-shadow: 2px 3px 3px 0px rgba(190,190,190,1);
	box-shadow: 2px 3px 3px 0px rgba(190,190,190,1);


}
.single-summary
{
	margin:10px 5px 10px 10px;
}
.single-summary span
{
	color:#0b4f9e;
	padding-right: 10px;
}
.single-summary p
{
	
}
.footer
{
/* Rectangle 5 */
background: #EAEAEA;
opacity: 1.00;
border: 2px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.5);
}
.footer-logo
{
	padding:10px 20px 10px 40px;
}
#about
{
	font-family: "Open Sans";
}

#about h1
{
	/* ЖКХ новости Камчатки */

font-style: normal;
font-weight: normal;
text-align: center;
font-size: 24px;
line-height: 100%;
color: #737373;
opacity: 1.00;
/*text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);*/
}
#about p
{
	text-align: center;
}
.footer-list ul
{
	font-family: "Open Sans";
	list-style: none;
}